@layer components {

    .btn {
        display: flex;
        column-gap: 0.5rem;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border-radius: var(--border-radius-default);
        letter-spacing: 0.05rem;
        font-weight: 600;
        line-height: var(--line-height-default);

        &:not(.btn--sm) {
            padding: 0.5rem 1.25rem;
            font-size: 0.75rem;
            min-height: 2.5rem;
        }

        &:not([disbaled]) {
            cursor: pointer;

            &:hover,
            &:focus {
                filter: brightness(1.03);
            }
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &.btn--primary {
            background: linear-gradient(
                45deg,
                rgba(73, 122, 212, 1) 0%,
                rgba(73, 154, 212, 1) 100%
            );
            color: theme('colors.lite');

            &:not([disabled]) {

                &:hover,
                &:focus {
                    box-shadow: 0 0 0 0.25rem rgba(74, 140, 211, 0.16);
                }
            }

            @media (prefers-color-scheme: dark) {
                background: linear-gradient(45deg, #2e4774 0%, rgb(58 111 149) 100%);
            }
        }

        &.btn--alt {
            background: linear-gradient(45deg, #e4eeff 0%, #c6e7ff 100%);
            color: theme('colors.primary');

            @media (prefers-color-scheme: dark) {
                background: linear-gradient(45deg, #dcdddf 0%, #c5d1e1 100%);
                color: #37678e;
            }
        }

        &.btn--red {
            background: linear-gradient(45deg, #ffe4e4 0%, #ffc6c6 100%);
            color: theme('colors.red.700 / 70%');

            @media (prefers-color-scheme: dark) {
                background: linear-gradient(45deg, #d3b3b3 0%, #ebaeae 100%);
            }
        }

        &.btn--sm {
            padding: 0.5rem 0.75rem;
            font-size: 0.65rem;
            min-height: 2rem;
        }
    }

    .btn-indicator {

        &:after {
            content: '';
            width: 0;
            height: 4rem;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: auto;
            border-left: 0.3rem dotted #e4e4e4;
            transform: translateY(-1rem);
            transition: all 0.25s;
            opacity: 0;

            @media (prefers-color-scheme: dark) {
                border-color: rgba(220, 221, 223, 0.1);
            }
        }

        &.btn-indicator--active {

            &:after {
                transform: none;
                opacity: 1;
            }
        }
    }

    .progress {
        border-bottom-left-radius: var(--border-radius-default);

        &.progress--blue {
            background: linear-gradient(45deg, #bae2fb 0%, #39a6ff 100%);

            &:after {
                background: #45aafe;
            }
        }
        &.progress--active {
            animation: progress 1.25s linear forwards;

            &:after {
                content: '';
                position: absolute;
                width: 0.1rem;
                height: 150%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: var(--border-radius-default);
                box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.5);

                @media (prefers-color-scheme: dark) {
                    box-shadow: 0 0 0.5rem 0.1rem white;
                }
            }
        }

        &:not(.progress--blue) {
            background: linear-gradient(45deg, #ffabab 0%, #f55 100%);

            &:after {
                background-color: #ff5c5b;
            }
        }
    }

    @keyframes progress {

        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes fade-zoom {

        from {
            transform: translateY(-0.25rem) scale(0.98);
            opacity: 0;
        }

        to {
            transform: none;
            opacity: 1;
        }
    }
}
